".source.hades-asm":
  editor:
    commentStart: "// "
    increaseIndentPattern: "^(.*@.*{([^}]*)|[^\"/]+:.*)$"
    decreaseIndentPattern: "^(.*@}[^}]*|[^\"/]+:.*)$"
    foldingStartMarker: "^[^\"\/]*@(code|mac|data).*{.*$"
    foldingStopMarker: '^[^\"\/]*@}'
